{% extends "base.html" %}

{% block title %}Articles{% endblock %}

{% block content_title %}
    Возможно вас заинтересует:
{% endblock %}

{% block content %}
    {% for article in pages.items %}
        <p>
           <a style="color:#778899" href="{{ url_for('articles.article_detail', slug=article.slug) }}">{{ article.title }} </a>
        </p>
    {% endfor %}

    <nav>
  <ul class="pagination">
    <li {% if not pages.has_prev %}
            class="page-item disabled"
        {% endif %}
    >
      <a class="page-link" href="./?page={{ pages.prev_num }}">Previous</a>
    </li>
      {% for page in pages.iter_pages() %}
            <li {% if page == pages.page %} class="page-item active" aria-current="page" {% endif %}>
                <a class="page-link" href="./?page={{ page }}">{{ page }}</a>
             </li>
      {% endfor %}
    <li {% if not pages.has_next %}
            class="page-item disabled"
        {% endif %}
    >
      <a class="page-link" href="./?page={{ pages.next_num }}">Next</a>
    </li>
  </ul>
</nav>
{% endblock %}